* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    background: linear-gradient(to right, #232526, #414345);
    position: fixed;
    width: 100%;
    min-height: 80px;
    max-height: 1000px;
    z-index: 3;
    box-shadow: 0 2px 2px;
  }

  header div {
    display: inline-flex;
    padding: 1rem;
    color: white;
    font-size: 30px;
  }
  
  #navBar {
    display: flex;
    flex-direction: row;
    height: 80px;
    float: right;
    padding-right: 1rem;
  }

  #link-navbar {
    font-size: 20px;
    color: white;
    width: 50%;
    margin: auto;
    text-decoration: none;
    padding: 1rem;
  }

  #home-page-grid {
    padding-top: 80px;
    background: linear-gradient(to right, #232526, #414345);
    text-align: center;
    overflow: auto;
  }

  .banner-text h1 {
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .banner-text h2 {
    font-size: 2em;
    color: white;
    margin-bottom: 0.5rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
  }
  
  .banner-text hr {
    border-top: 5px dotted-white;
    width: 50%;
    margin: auto;
  }
  
  .banner-text p {
    color: white;
    font-size: 20px;
    padding: 1rem;
    font-family: 'Roboto', sans-serif;
  }

  .avatar-img {
    max-height: 350px;
    padding-top: 1.5rem;
    max-width: 50%;
  }

  .icons {
	display: inline-flex;
	text-align: center;
}

.icon-img {
	max-width: 150px;
	text-align: center;
	padding: 0 2rem 2rem 2rem;
    justify-content: space-between;
}













footer {
    background: linear-gradient(to right, #232526, #414345);
}

footer h3 {
    margin: auto;
	text-align: center;
	opacity: 0.3;
	padding: 1rem;
}